{%extends "base.html" %}
{% load static %}

{%block titulo %} - Home {% endblock %}

{%block conteudo %}
    <br>
    <div class="text-center bg-dark">
        <img src="{% static 'imagens/vestibular-2019.png' %}" class="img-fluid" alt="Imagem responsiva">
        <h1 class="text-center text-white">Faculdade Impacta Tecnologia</h1>
    </div>
    <br>
    

    <h4 class="text-center text_blue">CONHEÇA NOSSOS CURSOS</h4>
    <p>Considerada uma das melhores faculdades 
        com foco em tecnologia do País, a Faculdade 
        Impacta oferece cursos de Graduação, Pós-Graduação 
        e MBA e cursos técnicos.</p><p> Conheça quais são as áreas de 
        conhecimento que a Impacta aborda e saiba um pouco mais sobre cada curso:
    </p>
<ul>
    <li>Graduação</li>
    <li>Pos e MBA</li>
    <li>Técnico</li>
</ul>


{% endblock %}